/* CSS reset */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	main: '';
	main: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* clearfix */
.cf:before,
.cf:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.cf:after {
    clear: both;
}

.cf {
    *zoom: 1;
}

/* style */

.topbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 40px;
    background-color: #303030;
    border-bottom: 5px solid white;
}

.topbar ul {
    margin-left: 10px;
}

.topbar li {
    display: inline-block;
    margin: 12px 10px;
}

.topbar a {
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    padding: 5px;
    color: white;
}

.topbar a:hover {
    background-color: white;
    color: black;
}

.header {
    width: 100%;
    background-color: orange;
    box-sizing: border-box;
}

.left-head {
    width: 600px;
    padding: 10px;
    margin-top: 30px;
    box-sizing: border-box;
    float: left;
}

.left-head h1 {
    padding: 30px 50px;
    font: 60px arial;
    font-weight: bold;
}

.left-head .box-id {
    width: 450px;
    border-radius: 10px;
    background-color: rgb(160, 104, 0);
    padding: 10px;
    margin-left: 50px;
    margin-bottom: 20px;
}

.left-head .box-id .data-id {
    font-size: 17px;
    font-family: Arial, Helvetica, sans-serif;
    text-indent: 10px;
    color: white;
    padding: 6px;
}

.left-head .box-id .data-id a {
    text-decoration: none;
    font-size: 17px;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    padding: 5px;
}

.left-head .box-id .data-id a:hover {
    text-decoration: underline;
    color: rgb(118, 212, 255);
}

.right-head {
    width: 300px;
    float: right;
}

.right-head img {
    margin-top: 30px;
    padding: 50px;
}

.main {
    width: 100%;
    padding: 40px 20px 20px 30px;
    box-sizing: border-box;
    background-color: black;
}

.left-main {
    width: 40%;
    padding: 10px;
    box-sizing: border-box;
    float: left;
}

.left-main h2 {
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    width: 165px;
    background-color: orange;
    color: rgb(255, 255, 255);
    padding: 10px 20px;
    margin-bottom: 20px;
}

.left-main p {
    font-family: Arial, Helvetica, sans-serif;
    font-variant: small-caps;
    margin-bottom: 16px;
    color: white;
}

.left-main .edu p a {
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    font-variant: small-caps;
    margin-bottom: 16px;
    color: white;
}

.left-main .edu p a:hover {
    text-decoration: underline;
}

.left-main div {
    margin-top: 15px;
    margin-bottom: 35px;
}

.right-main {
    width: 40%;
    padding: 10px;
    box-sizing: border-box;
    float: right;
}

.right-main h2 {
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    width: 165px;
    background-color: orange;
    color: rgb(255, 255, 255);
    padding: 10px 20px;
    margin-bottom: 20px;
}

.right-main p {
    font-family: Arial, Helvetica, sans-serif;
    font-variant: small-caps;
    margin-bottom: 16px;
    color: white;
}

.right-main div {
    margin-top: 15px;
    margin-bottom: 35px;
}

.find {
    width: 100%;
    background-color: #303030;
    padding: 20px;
    box-sizing: border-box;
}

.find .findme {
    text-align: center;
    font-size: 40px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-variant: small-caps;
    color: rgb(255, 255, 255);
    padding: 20px 0;
}

.find .findme:hover {
    text-decoration: underline;
}

.find ul {
    text-align: center;
    padding: 10px;
    margin-bottom: 20px;
}

.find li {
    display: inline-block;
    padding: 10px 40px;
}

.find ul li a img {
    width: 120px;
    height: 120px;
}

.footer {
    background-color: orange;
    padding: 5px;
}

.footer .copy {
    color: black;
    text-align: center;
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-variant: small-caps;
    padding: 5px;
}